Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=1024']
    -   id: check-json
        exclude: caster-editor/tsconfig.json
    -   id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.5.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
-   repo: local
    hooks:
      - id: editor-lint
        name: "Linting editor"
        files: caster-editor
        language: system
        entry: /bin/sh -c "cd caster-editor && npm run lint"
      - id: frontend-lint
        name: "Linting frontend"
        files: caster-front
        language: system
        entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

added debug
  caster-front/src/components/GraphDetailTemplates/DefaultTemplate.vue
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

fix updates of audio script cells
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

update volume and playback via props
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

remove reverse props update via emit
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/ScriptCellCodemirror.vue
  caster-editor/src/components/ScriptCellMarkdown.vue
Due: editor-lint

updated css for dialogs
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/DialogAddGraph.vue
  caster-editor/src/components/DialogAddNode.vue
  caster-editor/src/components/DialogDeleteNode.vue
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/DialogExitNode.vue
  caster-editor/src/components/DialogRenameNode.vue
  caster-editor/src/components/DialogUpdateAudioFile.vue
  caster-editor/src/components/Landing.vue
  caster-editor/src/components/LoginDialog.vue
  caster-front/src/assets/variables.scss
Due: editor-lint, frontend-lint

ran linter
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/DialogExitNode.vue
Due: editor-lint

basic display synchronisation is working
  caster-editor/src/components/Graph.vue
  caster-editor/src/main.ts
Due: editor-lint

flow node drag syncs with props
  caster-editor/src/components/Graph.vue
Due: editor-lint

added double click functionality
  caster-editor/src/components/DefaultNode.vue
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

node syncsadded connectionlinestyle
  caster-editor/src/components/Graph.vue
Due: editor-lint

Added ready and start commands
  caster-front/src/components/GraphDetailTemplates/DefaultTemplate.vue
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

updated debug positioning
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

Fixed page reload on enter for dialogs
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

rewrote intro to show moreInfo only if available
  caster-front/src/assets/typography.scss
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/IntroMoreInfo.vue
  caster-front/src/components/IntroScreen.vue
Due: frontend-lint

Delete IntroCard.vue
  caster-front/src/components/IntroCard.vue
Due: frontend-lint

hiding info if there is none
  caster-front/src/assets/typography.scss
  caster-front/src/components/PlayerBar/PlayerBar.vue
Due: frontend-lint

remove drifter template in backend
  caster-back/schema.gql
  caster-back/story_graph/migrations/0015_alter_graph_about_text_alter_graph_end_text_and_more.py
  caster-back/story_graph/models.py
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

removed drifter template from frontend
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/GraphPlayerCredits.vue
Due: frontend-lint

removed drifter template from graphdetail
  caster-front/src/components/GraphDetail.vue
Due: frontend-lint

deploy: e4645d7789eff1c8dab88cd2c3acc08501c483b4
  _modules/story_graph/models.html
Due: none

add db logging for streams
  caster-back/gencaster/db_logging.py
  caster-back/gencaster/distributor.py
  caster-back/gencaster/schema.py
  caster-back/gencaster/tests.py
  caster-back/story_graph/engine.py
  caster-back/stream/admin.py
  caster-back/stream/apps.py
  caster-back/stream/migrations/0011_streamlog.py
  caster-back/stream/models.py
  caster-back/stream/types.py
Due: none

bump to django 4.2
  caster-back/requirements.txt
Due: none

add stream logs to editor
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/components/StreamList.vue
  caster-editor/src/components/StreamLogs.vue
  caster-editor/src/components/StreamPointList.vue
  caster-editor/src/graphql.ts
  caster-editor/src/router.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

deploy: 9c66c0d02b2941be954addd95fab95839f98e94b
  _images/global.png
  _images/stream.png
  _modules/gencaster/distributor.html
  _modules/gencaster/schema.html
  _modules/story_graph/engine.html
  _modules/stream/models.html
  back/api/gencaster.html
  back/api/stream.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

added selected styling of flow nodes
  caster-editor/src/assets/scss/_vueflow.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/components/DefaultNode.vue
  caster-editor/src/components/FlowNodeDefault.vue
Due: editor-lint

set up selection of nodes
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

removed "add edges" menu
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

Rename menu
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

added edge connection
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

added animations for editor opening
  caster-editor/src/components/Graph.vue
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

removed vnetwork graph
  caster-editor/src/components/Graph.vue
Due: editor-lint

add live deployment
  Makefile
  caster-back/gencaster/settings/deploy_live.py
  docker-compose.deploy.live.yml
  vars.deploy.live.env
Due: none

disable delete key
  caster-editor/src/components/Graph.vue
Due: editor-lint

Removed vnetworggraph + adding pos new node
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/src/assets/scss/variables.module.scss
  caster-editor/src/components/DialogAddNode.vue
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/main.ts
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

cleaning and renaming
  caster-editor/src/assets/scss/variables.module.scss
  caster-editor/src/components/Graph.vue
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

Typed everything
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

Refac Code
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

init autocomplete
  caster-editor/src/assets/js/completePython.ts
  caster-editor/src/assets/js/completeSC.ts
  caster-editor/src/components/ScriptCellCodemirror.vue
Due: editor-lint

fix typo in cors
  caster-back/gencaster/settings/deploy_live.py
Due: none

change editor docs url
  caster-editor/src/components/Menu.vue
Due: editor-lint
