Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=1024']
    -   id: check-json
        exclude: caster-editor/tsconfig.json
    -   id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.5.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
-   repo: local
    hooks:
      - id: editor-lint
        name: "Linting editor"
        files: caster-editor
        language: system
        entry: /bin/sh -c "cd caster-editor && npm run lint"
      - id: frontend-lint
        name: "Linting frontend"
        files: caster-front
        language: system
        entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

fix race condition on notification of node door update
  caster-back/story_graph/models.py
Due: none

added highlighting for nodes
  caster-editor/src/assets/scss/_vueflow.scss
  caster-editor/src/components/DialogAddNode.vue
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

deploy: a2edff77c1550246d3af29ba506af2c44273dd68
  _images/global.png
  _images/graphviz-9c720e7c20487ab2861aad05437c0326cd9fb054.png
  _images/graphviz-9c720e7c20487ab2861aad05437c0326cd9fb054.png.map
  _images/story_graph.png
  _modules/gencaster/schema.html
  _modules/story_graph/engine.html
  _modules/story_graph/models.html
  _modules/stream/frontend_types.html
  _static/custom.css
  back/api/gencaster.html
  back/api/story_graph.html
  back/api/stream.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

removing in-door on start
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/graphql.ts
Due: editor-lint

Moved the deleting function into a promise for true await
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

added back entry node entry handle and new style for entry
  caster-editor/src/assets/scss/_vueflow.scss
  caster-editor/src/components/FlowNodeDefault.vue
Due: editor-lint

add isEntryNode to gql node
  caster-back/operations.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

init meta page
  caster-editor/src/components/MenuTabHeader.vue
  caster-editor/src/components/Meta.vue
  caster-editor/src/components/Wysiwyg.vue
  caster-editor/src/graphql.ts
  caster-editor/src/stores/InterfaceStore.ts
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

Finished Metadata
  caster-editor/src/components/Meta.vue
  caster-editor/src/components/Wysiwyg.vue
Due: editor-lint

missing stream assignment
  caster-editor/src/components/Meta.vue
Due: editor-lint

add update graph qgl mutations
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/types.py
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

adjust graph metadata component to graph mutation
  caster-editor/src/components/Meta.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

close node editor when switching to meta tab
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

only show success message if deletion was successful
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

refactor notifications from schema to models
  caster-back/gencaster/distributor.py
  caster-back/gencaster/schema.py
  caster-back/gencaster/tests.py
  caster-back/story_graph/models.py
  caster-back/stream/apps.py
  caster-back/stream/models.py
Due: none

Activating meta buttons only when data changed
  caster-editor/src/components/Meta.vue
Due: editor-lint

changed spinner to be black
  caster-editor/src/assets/scss/_elementplus.scss
Due: editor-lint

deploy: 1928881ab4bfe575a8513dfa35760ab0069235e7
  _modules/gencaster/schema.html
Due: none

deploy: 90dee61077435e1702200aef96e01d087c4b0703
  _modules/gencaster/distributor.html
  _modules/gencaster/schema.html
  _modules/story_graph/models.html
  _modules/stream/models.html
Due: none

add enum for stream logs
  caster-back/schema.gql
  caster-back/stream/types.py
  caster-editor/src/components/StreamLogs.vue
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

fix node progression in graph
  caster-back/story_graph/engine.py
Due: none

fall back to default door if active door runs into dead end
  caster-back/story_graph/engine.py
Due: none

remove host mode for sound container
  caster-sound/Dockerfile
  caster-sound/caster-sound.conf
  caster-sound/janus.jcfg
  docker-compose.deploy.dev.yml
  docker-compose.deploy.live.yml
  docker-compose.yml
  vars.deploy.dev.env
  vars.deploy.live.env
Due: none

update docs regarding host mode
  README.md
  docs/deployment.rst
Due: none

fix backend URL
  vars.deploy.live.env
Due: none

fix typo
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

simplify interface for button conversion
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

display error if no stream is available
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

yield GraphDeadEnd on gql subscription
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/engine.py
  caster-back/stream/types.py
  caster-editor/src/graphql.ts
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

remove strawberry-django-plus
  caster-back/gencaster/settings/base.py
  caster-back/operations.gql
  caster-back/requirements.txt
  caster-back/schema.gql
  caster-editor/src/components/DialogAddGraph.vue
  caster-editor/src/components/Meta.vue
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

deploy: 55db33a9a0cd6a217f5687f588559f11fa87d796
  back/api/gencaster.html
  searchindex.js
Due: none

re-generate gql schema with GraphDeadEnd
  caster-back/schema.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

deploy: 1138fa6da38172aecbcbed3493aa18e3a0eeb756
  _modules/gencaster/schema.html
  _modules/story_graph/engine.html
  back/api/story_graph.html
Due: none

switch to dict for ws access
  caster-back/gencaster/schema.py
Due: none

add type hint for Stream objects
  caster-back/stream/models.py
Due: none

set logging level of osc server
  caster-back/osc_server/server.py
Due: none

send a first quick confirmation on stream subscription
  caster-back/gencaster/schema.py
Due: none

add CmdPeriod to clean streams if necessary
  caster-back/gencaster/schema.py
  caster-back/story_graph/engine.py
  caster-back/story_graph/tests.py
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

deploy: aec9347218d9da9fb6d8ee45045e926afb15083f
  _modules/gencaster/schema.html
  _modules/osc_server/server.html
  _modules/story_graph/engine.html
  _modules/stream/models.html
  back/api/story_graph.html
  searchindex.js
Due: none

deploy: 6e4aaeec9dfdc7f3fbe87c6139525fcdf10cec9f
  _modules/story_graph/engine.html
Due: none
