Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && yarn lint:ci"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && yarn lint:ci"

use more async orm
  caster-back/gencaster/schema.py
Due: none

Fix janus URL in frontend #254
  caster-front/Dockerfile.deploy
  caster-front/src/components/Player.vue
  docker-compose.deploy.dev.yml
Due: frontend-lint

improve tracking of script cell changes
  caster-editor/src/components/NodeEditor.vue
Due: editor-lint

make stream pont endpoints public #259
  caster-back/gencaster/schema.py
Due: none

add nginx fallback to index.html
  caster-editor/Dockerfile.deploy
  caster-editor/nginx.conf
Due: editor-lint

make stream points public
  caster-back/gencaster/schema.py
Due: none

remove old get_stream route
  caster-back/gencaster/schema.py
Due: none

add possible error on stream subscription
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
Due: none

update stream subscription codegen
  caster-editor/src/graphql.ts
  caster-front/src/graphql/graphql.ts
Due: editor-lint, frontend-lint

clean root template
  caster-front/src/App.vue
Due: frontend-lint

add graph selection in frontend
  caster-front/src/components/Graphs.vue
  caster-front/src/components/Player.vue
  caster-front/src/components/TheWelcome.vue
  caster-front/src/stores/StreamPoints.ts
Due: frontend-lint

make graphs endpoint public
  caster-back/gencaster/schema.py
  caster-back/gencaster/tests.py
Due: none

wait for valid UUID on subscriptions
  caster-editor/src/stores/GraphStore.ts
  caster-editor/src/stores/NodeStore.ts
Due: editor-lint

Added animation of node editor + fixing some ux bugs
  caster-editor/src/assets/scss/pages/edit-page.scss
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/stores/GraphStore.ts
Due: editor-lint

added dialog to prevent switching nodes with unsaved modified cells
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
Due: editor-lint

Prepopulate name while Node Renaming
  caster-editor/src/components/NodeEditor.vue
Due: editor-lint

Added fixed header for node editor
  caster-editor/src/assets/scss/components/blockeditor.scss
  caster-editor/src/components/NodeEditor.vue
Due: editor-lint

added opacity to node labels
  caster-editor/src/assets/js/graphSettings.ts
  caster-editor/src/assets/scss/variables.module.scss
Due: editor-lint

renaming + removing node manipulation in open editor
  caster-editor/src/components/Graph.vue
Due: editor-lint

remove grid template
  caster-front/src/assets/main.css
Due: frontend-lint

add Gencaster to dictionary
  .vscode/settings.json
Due: none

add ElementPlus
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/src/main.ts
Due: frontend-lint

separate stores and components
  caster-front/src/components/Graphs.vue
  caster-front/src/components/Player.vue
  caster-front/src/components/PlayerControls.vue
  caster-front/src/components/StreamPoint.vue
  caster-front/src/components/StreamPointInfo.vue
  caster-front/src/components/StreamPoints.vue
  caster-front/src/components/TheWelcome.vue
  caster-front/src/stores/Graphs.ts
  caster-front/src/stores/Player.ts
  caster-front/src/stores/StreamPoints.ts
Due: frontend-lint

create additional views
  caster-front/src/router/index.ts
  caster-front/src/views/AdminView.vue
  caster-front/src/views/GraphPlayerView.vue
  caster-front/src/views/HomeView.vue
Due: frontend-lint

Renamed Vars
  caster-editor/src/components/Graph.vue
Due: editor-lint

change frontend deployment
  caster-front/Dockerfile.deploy
  caster-front/nginx.conf
Due: frontend-lint

rerouting to /graphs if uuid is wrong
  caster-editor/src/views/GraphView.vue
Due: editor-lint

add audio file upload
  caster-back/gencaster/schema.py
  caster-back/stream/types.py
Due: none

fix add_audio_file position after rebasing
  caster-back/gencaster/schema.py
Due: none

fix mypy issue
  caster-back/gencaster/schema.py
Due: none

catch audio file upload errors
  caster-back/gencaster/schema.py
  caster-back/stream/exceptions.py
  caster-back/stream/models.py
  caster-back/stream/types.py
Due: none

fix tests
  caster-back/gencaster/schema.py
  caster-back/setup.cfg
  caster-back/story_graph/types.py
  caster-back/stream/tests.py
  caster-back/stream/types.py
Due: none

disable no-v-model-argument linting rule
  caster-editor/.eslintrc.cjs
Due: editor-lint

rename error_message to error
  caster-back/gencaster/schema.py
  caster-back/stream/types.py
Due: none

update graphql schema
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add upload capabilities to urql
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/src/main.ts
Due: editor-lint

add audio file upload component
  caster-editor/src/components/AudioFileUpload.vue
Due: editor-lint

add graph to stream assignment policies
  caster-back/gencaster/schema.py
  caster-back/story_graph/migrations/0007_graph_stream_assignment_policy.py
  caster-back/story_graph/models.py
  caster-back/story_graph/tests.py
  caster-back/stream/models.py
  caster-back/stream/tests.py
Due: none

expose media assets via nginx
  docker-compose.deploy.dev.yml
  nginx.deploy.conf
Due: none

only switch stream if it actually changes
  caster-front/src/components/Player.vue
Due: frontend-lint

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
