Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

update graph input
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/models.py
  caster-back/story_graph/types.py
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

update graph creation in editor
  caster-editor/src/components/DialogAddGraph.vue
Due: editor-lint

introduce markdown-it
  caster-front/package-lock.json
  caster-front/package.json
Due: frontend-lint

adjust drifter template
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/DataDialogs.vue
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/Dialogs/NameDialog.vue
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GpsStreaming.vue
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/Graphs.vue
  caster-front/src/components/Intro.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/models.ts
  caster-front/src/router/index.ts
  caster-front/src/stores/Player.ts
Due: frontend-lint

Updated typo and moved inline css to style tag
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

Removed Title + fixed class naming in Drifter template
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

removed topDialog
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

Renamed NameDialog to StringDialog
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/Dialogs/StringDialog.vue
Due: frontend-lint

Re-ordered Drifter Template
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

reordered modals to fix transition bug + css
  caster-front/src/assets/elementplus.scss
  caster-front/src/components/Dialogs/StringDialog.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

added markdown renderer for about text
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

Added Intro Info
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
  caster-front/src/components/IntroInfo.vue
Due: frontend-lint

Fix scrolling of larger than screen modal
  caster-front/src/assets/elementplus.scss
Due: frontend-lint

Updated Dialog to self destroy and call next
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/Dialogs/StringDialog.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

gps self closing and fix setIntervall loop
  caster-front/src/components/Dialogs/GpsDialog.vue
Due: frontend-lint

Update to standard eslint frontend
  .vscode/settings.json
  caster-front/.eslintrc.js
  caster-front/.eslintrc.json
  caster-front/.vscode/settings.json
  caster-front/codegen.ts
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/public/janus.js
  caster-front/src/App.vue
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/ContentParser.vue
  caster-front/src/components/DebugPlayer.vue
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/Dialogs/StringDialog.vue
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GpsStreaming.vue
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/DefaultTemplate.vue
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/GraphPlayerCredits.vue
  caster-front/src/components/GraphsOverview.vue
  caster-front/src/components/InfoPopup.vue
  caster-front/src/components/IntroCard.vue
  caster-front/src/components/IntroInfo.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/components/PlayerButtons.vue
  caster-front/src/components/PlayerComponent.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBar.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBars.vue
  caster-front/src/components/StreamInfo.vue
  caster-front/src/components/StreamPoints.vue
  caster-front/src/main.ts
  caster-front/src/router/index.ts
  caster-front/src/stores/Player.ts
  caster-front/vite.config.ts
Due: frontend-lint

Added new eslint editor
  caster-editor/.eslintrc.cjs
  caster-editor/.eslintrc.js
  caster-editor/codegen.ts
  caster-editor/cypress.config.ts
  caster-editor/src/App.vue
  caster-editor/src/components/AudioFileUpload.vue
  caster-editor/src/components/DialogRenameNode.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/MenuTabEdit.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/NodeEditorCells.vue
  caster-editor/src/components/NodeEditorHeader.vue
  caster-editor/src/components/ScriptCellAudio.vue
  caster-editor/src/components/ScriptCellCodemirror.vue
  caster-editor/src/components/ScriptCellMarkdown.vue
  caster-editor/src/main.ts
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

Bringing back janus function and updating vscode settings
  .vscode/settings.json
  caster-front/src/components/PlayerComponent.vue
Due: frontend-lint

added semi colon rule
  .vscode/settings.json
  caster-editor/.eslintrc.js
  caster-editor/cypress.config.ts
  caster-editor/cypress/e2e/graph.cy.ts
  caster-editor/cypress/support/e2e.ts
  caster-editor/cypress/utils.ts
  caster-editor/src/App.vue
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/components/AudioFileUpload.vue
  caster-editor/src/components/DialogAddGraph.vue
  caster-editor/src/components/DialogDeleteNode.vue
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/DialogRenameNode.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/GraphsList.vue
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabEdit.vue
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/NodeEditorCells.vue
  caster-editor/src/components/NodeEditorHeader.vue
  caster-editor/src/components/ScriptCellAudio.vue
  caster-editor/src/components/ScriptCellCodemirror.vue
  caster-editor/src/views/GraphDetailView.vue
  caster-front/.eslintrc.js
  caster-front/public/janus.js
Due: editor-lint, frontend-lint

add AGPL 3 license
  LICENSE
  README.md
Due: none

improve quickstart
  README.md
Due: none

switch sphinx theme
  docs/conf.py
  requirements-docs.txt
Due: none

adjust sphinx theme
  docs/_static/custom.css
  docs/_static/favicon.ico
  docs/_static/logo.png
  docs/_static/logo.svg
  docs/_static/spiral.svg
  docs/conf.py
Due: none

restructure docs
  docs/back/api/gencaster.rst
  docs/back/api/index.rst
  docs/back/api/story_graph.rst
  docs/back/api/stream.rst
  docs/back/graphql.rst
  docs/back/index.rst
  docs/back/osc_server.rst
  docs/caster_back/index.rst
  docs/deployment.rst
  docs/editor.rst
  docs/front.rst
  docs/index.rst
  docs/quickstart.rst
  docs/services.rst
  docs/sound.rst
  docs/story_graph.rst
Due: none

deploy docs via gh pages on main push
  .github/workflows/actions.yml
Due: none

fix mypy complaints
  caster-back/setup.cfg
  caster-back/story_graph/engine.py
Due: none

switch to python 3.10 in ci
  .github/workflows/actions.yml
Due: none

ignore mypy errors
  caster-back/gencaster/schema.py
Due: none

add copyright
  README.md
  docs/conf.py
Due: none

fix primary color
  docs/_static/custom.css
Due: none

switch to svg logo
  README.md
Due: none

switch cname for docs
  .github/workflows/actions.yml
  README.md
Due: none

Create CNAME
  CNAME
Due: none

deploy: 87850748c7a6799dbcbd23c202157734d74659cd
  CNAME
Due: none

Update favicon.ico
  docs/_static/favicon.ico
Due: none

deploy: 132925aaf26a3bf7f147e1411e31e9dbb7f2adba
  _static/favicon.ico
Due: none

new favicons
  caster-editor/index.html
  caster-editor/public/favicon-16x16.png
  caster-editor/public/favicon-192x192.png
  caster-editor/public/favicon-32x32.png
  caster-editor/public/favicon-48x48.png
  caster-editor/public/favicon.ico
  caster-editor/public/icon.png
  caster-front/index.html
  caster-front/public/favicon-16x16.png
  caster-front/public/favicon-192x192.png
  caster-front/public/favicon-32x32.png
  caster-front/public/favicon-48x48.png
  caster-front/public/favicon.ico
  caster-front/public/icon.png
  caster-front/src/public/favicon-167x167.png
  caster-front/src/public/favicon-16x16.png
  caster-front/src/public/favicon-180x180.png
  caster-front/src/public/favicon-192x192.png
  caster-front/src/public/favicon-32x32.png
  caster-front/src/public/favicon-48x48.png
  caster-front/src/public/favicon.ico
Due: editor-lint, frontend-lint

added og and .ico fallback
  caster-editor/index.html
  caster-editor/public/favicon.ico
  caster-editor/public/ogimage.jpg
  caster-front/index.html
  caster-front/public/favicon.ico
  caster-front/public/ogimage.jpg
  caster-front/src/public/ogimage.jpg
Due: editor-lint, frontend-lint

Update README.md
  README.md
Due: none

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
