Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=1024']
    -   id: check-json
        exclude: caster-editor/tsconfig.json
    -   id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.5.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
-   repo: local
    hooks:
      - id: editor-lint
        name: "Linting editor"
        files: caster-editor
        language: system
        entry: /bin/sh -c "cd caster-editor && npm run lint"
      - id: frontend-lint
        name: "Linting frontend"
        files: caster-front
        language: system
        entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

add dialogs from graph
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/engine.py
  caster-back/stream/frontend_types.py
  caster-back/stream/types.py
  caster-editor/src/graphql.ts
  caster-front/src/assets/elementplus.scss
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

fix backend tests
  caster-back/story_graph/engine.py
Due: none

add story graph documentation
  caster-back/gencaster/schema.py
  caster-back/story_graph/engine.py
  caster-back/stream/__init__.py
  caster-back/stream/frontend_types.py
  caster-back/stream/models.py
  docs/back/api/gencaster.rst
  docs/back/index.rst
  docs/conf.py
  docs/editor.rst
  docs/front.rst
  docs/sound.rst
  docs/story_graph.rst
Due: none

add python test for yield dialog
  caster-back/story_graph/tests.py
Due: none

adjust drifter template
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
Due: frontend-lint

update docs on graphql schema
  caster-back/schema.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add sentry logging
  caster-back/gencaster/settings/deploy_dev.py
  caster-back/requirements.txt
  caster-editor/Dockerfile.deploy
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/src/main.ts
  caster-front/Dockerfile.deploy
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/src/main.ts
  docker-compose.deploy.dev.yml
Due: editor-lint, frontend-lint

add secrets.env docs
  docs/deployment.rst
Due: none

add smooth updates for stream variables
  caster-back/stream/models.py
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

deploy: 3b996b39ed0fe3b082df9ce282d03fc100db8e20
  _modules/stream/models.html
Due: none

replace s with Server.default
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

revert to Ndef update without curly brackets
  caster-back/stream/models.py
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

deploy: 5b0e1b9e56f8ef8f66bc312c014a2ac44e32efb1
  _modules/stream/models.html
  back/api/stream.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

fix GPS does not stream if already granted #488
  caster-front/src/components/Dialogs/GpsDialog.vue
Due: frontend-lint

add MI ugens
  caster-sound/Dockerfile
  caster-sound/install_mi.sh
Due: none

remove ask for name
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
Due: frontend-lint

increase pipewire buffer size
  caster-sound/start_streams.sh
Due: none

init pipewire config
  caster-sound/Dockerfile
  caster-sound/pipewire.conf
Due: none

adjust mobius template
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
Due: frontend-lint

send stop variable
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
Due: frontend-lint

increase buffer size
  caster-sound/pipewire.conf
  caster-sound/sc.scd
  caster-sound/start_streams.sh
Due: none

deploy: 5df5ee3ee63aabf5150cfef21f9d0eba81b3772f
  _sources/deployment.rst
  deployment.html
  searchindex.js
Due: none

remove tracePropagationTargets due to CORS
  caster-editor/src/main.ts
  caster-front/src/main.ts
Due: editor-lint, frontend-lint

improve exit graph dialog
  caster-editor/src/components/DialogExitGraph.vue
Due: editor-lint

add dynamic gps dialog
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/stream/frontend_types.py
  caster-editor/src/graphql.ts
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/graphql.ts
  docs/editor.rst
Due: editor-lint, frontend-lint

switch from Tdef to Task for beacon
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

fixed styling text input
  caster-front/src/assets/elementplus.scss
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

fixed typo
  caster-back/story_graph/engine.py
Due: none

Added button for docs
  caster-editor/src/components/Menu.vue
Due: editor-lint

init dual vue
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/src/components/Graph.vue
Due: editor-lint

added basic styling
  caster-editor/src/components/Graph.vue
  caster-editor/src/main.ts
Due: editor-lint

Added basic components to base template
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/GraphDetailTemplates/DefaultTemplate.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/GraphPlayerCredits.vue
Due: frontend-lint

fixed linting
  caster-editor/src/components/Menu.vue
Due: editor-lint

updated styling of buttons
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/DialogExitNode.vue
Due: editor-lint

update css
  caster-editor/src/assets/scss/_elementplus.scss
Due: editor-lint
