Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

add autocomplete for python script cells
  .gitignore
  Makefile
  caster-back/generate_engine_vars_json.sh
  caster-back/story_graph/engine.py
  caster-back/story_graph/management/commands/get_engine_vars.py
  caster-back/stream/apps.py
  caster-editor/src/assets/js/completePython.ts
  caster-editor/src/engineVars.json
  caster-editor/tsconfig.app.json
Due: editor-lint

added centering of node in the beginning
  caster-editor/src/components/Graph.vue
Due: editor-lint

added vallidation for only input to output
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

added menu buttons for play menu
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabPlay.vue
  caster-editor/src/graphql.ts
Due: editor-lint

deploy: 720a1de0fefdb21a663dd0e57c61901b9e5f4153
  _modules/story_graph/engine.html
  back/api/story_graph.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

exclude django methods in docs
  docs/conf.py
Due: none

add highlight to class name in docs
  docs/_static/custom.css
Due: none

add python vscode plugins
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: none

improve docs on dialog
  caster-back/stream/frontend_types.py
Due: none

add reverse operation on drifter template migration
  caster-back/story_graph/migrations/0015_alter_graph_about_text_alter_graph_end_text_and_more.py
Due: none

introduce node doors
  caster-back/story_graph/migrations/0001_initial.py
  caster-back/story_graph/migrations/0016_nodedoor_remove_edge_unique_edge_remove_edge_in_node_and_more.py
  caster-back/story_graph/models.py
Due: none

add type to queue
  caster-back/stream/apps.py
Due: none

change HttpResponse import
  caster-back/gencaster/urls.py
Due: none

add django-stubs-ext
  caster-back/requirements.txt
Due: none

adjust engine to node doors
  caster-back/story_graph/engine.py
Due: none

add node door graphql operations
  caster-back/gencaster/schema.py
Due: none

switch to autocomplete fields in admin
  caster-back/story_graph/admin.py
  caster-back/stream/admin.py
Due: none

replace edge with node door gql types
  caster-back/story_graph/types.py
Due: none

adjust gql tests to node door
  caster-back/gencaster/tests.py
Due: none

add tests for node door
  caster-back/story_graph/tests.py
Due: none

add node door operations
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add custom GencasterNode
  caster-editor/src/components/GencasterNode.vue
Due: editor-lint

add node doors component in editor
  caster-editor/src/components/NodeDoor.vue
  caster-editor/src/components/NodeDoors.vue
Due: editor-lint

add dialog for node door creation
  caster-editor/src/components/DialogAddNodeDoor.vue
Due: editor-lint

switch to GencasterNode within Graph
  caster-editor/src/components/Graph.vue
Due: editor-lint

add node door mutations to editor store
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorCells.vue
  caster-editor/src/components/NodeEditorHeader.vue
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

replace update method with executeUpdates
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditorCells.vue
Due: editor-lint

add service urls as env variables
  caster-editor/Dockerfile.deploy
  caster-front/Dockerfile.deploy
  vars.deploy.dev.env
  vars.env
Due: editor-lint, frontend-lint

add slugName to graph subscription
  caster-back/operations.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

derive front url from env variables
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabPlay.vue
Due: editor-lint

remove create edge buttion in menu tab
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

fixed window.location.hostname
  caster-editor/src/components/MenuTabPlay.vue
Due: editor-lint

fix edge direction flow
  caster-editor/src/components/Graph.vue
Due: editor-lint

Fix drag and drop of edges
  caster-editor/src/components/GencasterNode.vue
Due: editor-lint

add checks for valid python code in node door
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/models.py
  caster-back/story_graph/tests.py
  caster-back/story_graph/types.py
  caster-editor/src/graphql.ts
  caster-editor/src/stores/InterfaceStore.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

improve node update procedure
  caster-editor/src/components/Graph.vue
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

fix node updates on node switch
  caster-editor/src/components/Graph.vue
Due: editor-lint

styled flowNodeDefault
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/GencasterNode.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

Added scriptcell styling
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/FlowNodeDefault.vue
  caster-editor/src/components/NodeDoor.vue
  caster-editor/src/components/NodeDoors.vue
Due: editor-lint

fix check for unsaved changes
  caster-editor/src/components/NodeEditorHeader.vue
Due: editor-lint

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
