Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

delete GraphSession and introduce StreamVariable
  caster-back/story_graph/admin.py
  caster-back/story_graph/migrations/0008_delete_graphsession.py
  caster-back/story_graph/models.py
  caster-back/story_graph/types.py
  caster-back/stream/admin.py
  caster-back/stream/migrations/0007_stream_graph_streamvariable_and_more.py
  caster-back/stream/models.py
  caster-back/stream/tests.py
Due: none

add StreamVariable types
  caster-back/stream/types.py
Due: none

add stream variable mutation endpoint
  caster-back/gencaster/schema.py
  caster-back/schema.gql
Due: none

add SendStreamVariable mutation
  caster-back/operations.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

introduce GpsStreaming component
  caster-front/src/components/GpsStreaming.vue
Due: frontend-lint

display gps streaming
  caster-front/src/components/Player.vue
  caster-front/src/components/PlayerControls.vue
  caster-front/src/views/AdminView.vue
Due: frontend-lint

use high accuracy for GPS stream
  caster-front/src/components/GpsStreaming.vue
Due: frontend-lint

introduce AudioCell model
  caster-back/story_graph/admin.py
  caster-back/story_graph/models.py
Due: none

add AudioCell option to ScriptCell endpoint
  caster-back/gencaster/schema.py
  caster-back/story_graph/types.py
Due: none

fix CellType import
  caster-back/story_graph/engine.py
Due: none

fix mypy issue
  caster-back/story_graph/types.py
Due: none

add volume
  caster-back/story_graph/models.py
Due: none

add AudioCell migrations
  caster-back/story_graph/migrations/0009_alter_scriptcell_cell_type_audiocell_and_more.py
  caster-back/story_graph/migrations/0010_scriptcell_audio_type_needs_audio_cell_information.py
Due: none

interim audio upload
  caster-editor/package.json
  caster-editor/src/components/AudioFileUpload.vue
  caster-editor/src/components/AudioSelector.vue
  caster-editor/src/components/Graph.vue
Due: editor-lint

add AudioCell playback in engine
  caster-back/story_graph/engine.py
  caster-back/stream/models.py
Due: none

fix mypy issue
  caster-back/stream/models.py
Due: none

added audio list rendering
  caster-editor/src/assets/icons/icon-pause.svg
  caster-editor/src/assets/icons/icon-triangle-right.svg
  caster-editor/src/assets/scss/variables.module.scss
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/audioSelector/FileUpload.vue
  caster-editor/src/components/audioSelector/MediaPlayer.vue
  caster-editor/src/components/audioSelector/Selector.vue
Due: editor-lint

remove duplicated assignment
  caster-back/gencaster/settings/dev.py
Due: none

add name and auto_generated to AudioFile
  caster-back/stream/migrations/0008_audiofile_auto_generated_audiofile_name.py
  caster-back/stream/models.py
Due: none

expose auto_generated in admin
  caster-back/stream/admin.py
Due: none

add auto_generated and volume to endpoints
  caster-back/gencaster/schema.py
  caster-back/story_graph/types.py
  caster-back/stream/types.py
Due: none

add filters for audio file query
  caster-back/stream/types.py
Due: none

basic audio workflow is up and running
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/audioSelector/FileUpload.vue
  caster-editor/src/components/audioSelector/MediaPlayer.vue
  caster-editor/src/components/audioSelector/Selector.vue
  caster-editor/src/components/elements/Block.vue
  caster-editor/src/components/elements/BlockAudio.vue
  caster-editor/src/stores/InterfaceStore.ts
Due: editor-lint

save audio name in AddAudioFile mutation
  caster-back/gencaster/schema.py
Due: none

display name in admin
  caster-back/stream/admin.py
Due: none

add AudioFiles query
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

hand out random name for audio file
  caster-editor/src/components/audioSelector/FileUpload.vue
Due: editor-lint

change Makefile flags to control container setup
  Makefile
  README.md
  docker-compose.yml
Due: none

add audio cell test case
  caster-back/story_graph/tests.py
Due: none

change script cell creation procedure
  caster-back/gencaster/schema.py
  caster-back/story_graph/types.py
Due: none

add tests for graphql audio script cells
  caster-back/gencaster/tests.py
Due: none

expose volume on AudioCell
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/types.py
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add assets to typescript config
  caster-editor/tsconfig.app.json
Due: editor-lint

add vite/client to get env types
  caster-editor/tsconfig.vitest.json
Due: editor-lint

draft for AudioCell editor
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

fix audio cell type issues
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/NodeEditorCells.vue
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

remove outdated tests
  caster-editor/cypress/e2e/graphs.cy.ts
  caster-editor/cypress/e2e/landing.cy.ts
Due: editor-lint

fix propagation of items
  caster-back/gencaster/schema.py
  caster-editor/src/components/ScriptCellAudio.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

change backend url passing
  caster-editor/Dockerfile.deploy
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/main.ts
  caster-editor/tsconfig.app.json
  caster-editor/tsconfig.config.json
  caster-front/Dockerfile.deploy
  caster-front/src/main.ts
  docker-compose.deploy.dev.yml
  docker-compose.editor.yml
  vars.deploy.dev.env
  vars.env
Due: editor-lint, frontend-lint

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
