Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

proposal for updating scriptcell on order update
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

added new animation to editor window
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

Centering starting graph in the editor
  caster-editor/src/components/Graph.vue
Due: editor-lint

new logic for error handling
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/PlayerComponent.vue
  caster-front/src/stores/Player.ts
Due: frontend-lint

Added contact email for 'Could not find proper graph' error.
  caster-front/src/components/GraphDetail.vue
Due: frontend-lint

Linted everything
  caster-front/src/assets/elementplus.scss
Due: frontend-lint

Fixed v-if for streamInfo
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
Due: frontend-lint

extend info for development
  README.md
Due: none

moved transition css to correct vue file
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

updated first node selection to "Start" Node
  caster-editor/src/components/Graph.vue
Due: editor-lint

Code Simplification
  caster-front/src/assets/elementplus.scss
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
Due: frontend-lint

add update audio file via backend
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/stream/types.py
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add DialogUpdateAudioFile
  caster-editor/src/components/DialogUpdateAudioFile.vue
Due: editor-lint

make browser player minimal
  caster-editor/src/components/AudioFilePlayer.vue
Due: editor-lint

enhance audio file browser
  caster-editor/src/components/AudioFileBrowser.vue
Due: editor-lint

remove second choose button
  caster-editor/src/components/AudioFileBrowser.vue
Due: editor-lint

Added fullscreen styling of audio picker
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/components/AudioFileUpload.vue
  caster-editor/src/components/NodeEditor.vue
  caster-front/src/assets/elementplus.scss
Due: editor-lint, frontend-lint

empty upload field after submit
  caster-editor/src/components/AudioFileUpload.vue
Due: editor-lint

Fixed audio file bug
  caster-editor/src/components/AudioFilePlayer.vue
Due: editor-lint

Fixed css of audio browser
  caster-editor/src/components/AudioFileBrowser.vue
Due: editor-lint

deploy: 0d1cba55bf2f4d7aacdf604c473e14dcea28be84
  _modules/gencaster/schema.html
  back/api/gencaster.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

added dev info to scriptcell editor
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorDevInfo.vue
Due: editor-lint

run format and lint on editor in pre-commit
  .pre-commit-config.yaml
Due: none

separate create and update script cells in backend
  caster-back/gencaster/schema.py
  caster-back/gencaster/tests.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/types.py
Due: none

add lint and format action
  caster-editor/package.json
Due: editor-lint

refactor script cell updates
  caster-editor/src/components/DialogAddNode.vue
  caster-editor/src/components/DialogExitNode.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/MenuTabEdit.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/NodeEditorCells.vue
  caster-editor/src/components/NodeEditorHeader.vue
  caster-editor/src/components/ScriptCellAudio.vue
  caster-editor/src/components/ScriptCellCodemirror.vue
  caster-editor/src/components/ScriptCellMarkdown.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

force linting on editor
  caster-editor/src/App.vue
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/assets/scss/_interface.scss
  caster-editor/src/assets/scss/_mixins.scss
  caster-editor/src/assets/scss/_reset.scss
  caster-editor/src/assets/scss/_typography.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/assets/scss/variables.module.scss
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/components/AudioFileUpload.vue
  caster-editor/src/components/DialogAddGraph.vue
  caster-editor/src/components/DialogDeleteNode.vue
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/DialogRenameNode.vue
  caster-editor/src/components/GraphsList.vue
  caster-editor/src/components/Landing.vue
  caster-editor/src/components/Loading.vue
  caster-editor/src/components/LoginDialog.vue
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabHeader.vue
  caster-editor/src/graphql.ts
  caster-editor/src/main.ts
  caster-editor/src/router.ts
  caster-editor/src/stores/InterfaceStore.ts
  caster-editor/src/views/GraphsView.vue
  caster-editor/src/views/LandingView.vue
Due: editor-lint

update front end graphql procedures
  caster-front/src/graphql.ts
Due: frontend-lint

fix linting
  caster-back/schema.gql
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/components/DialogUpdateAudioFile.vue
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorDevInfo.vue
  caster-editor/src/graphql.ts
  caster-editor/src/views/GraphDetailView.vue
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

deploy: a56a6c5b65eaeed39551ebdbf750e9822335a281
  _modules/gencaster/schema.html
  back/api/gencaster.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

format editor
  .pre-commit-config.yaml
  caster-front/package.json
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/assets/mixins.scss
  caster-front/src/assets/typography.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/ContentParser.vue
  caster-front/src/components/DebugPlayer.vue
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/Dialogs/StringDialog.vue
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GpsError.vue
  caster-front/src/components/GpsStreaming.vue
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/DefaultTemplate.vue
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/GraphPlayerCredits.vue
  caster-front/src/components/GraphsOverview.vue
  caster-front/src/components/InfoPopup.vue
  caster-front/src/components/IntroCard.vue
  caster-front/src/components/IntroInfo.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/components/PlayerButtons.vue
  caster-front/src/components/PlayerComponent.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizer.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBar.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBars.vue
  caster-front/src/components/StreamInfo.vue
  caster-front/src/components/StreamPoints.vue
  caster-front/src/graphql.ts
  caster-front/src/graphql/graphql.ts
  caster-front/src/main.ts
  caster-front/src/models.ts
  caster-front/src/router/index.ts
Due: frontend-lint

frontend format
  .pre-commit-config.yaml
  caster-front/package.json
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/assets/mixins.scss
  caster-front/src/assets/typography.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/ContentParser.vue
  caster-front/src/components/DebugPlayer.vue
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/components/Dialogs/MetaDialog.vue
  caster-front/src/components/Dialogs/StringDialog.vue
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GpsError.vue
  caster-front/src/components/GpsStreaming.vue
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/DefaultTemplate.vue
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/GraphPlayerCredits.vue
  caster-front/src/components/GraphsOverview.vue
  caster-front/src/components/InfoPopup.vue
  caster-front/src/components/IntroCard.vue
  caster-front/src/components/IntroInfo.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/components/PlayerButtons.vue
  caster-front/src/components/PlayerComponent.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizer.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBar.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBars.vue
  caster-front/src/components/StreamInfo.vue
  caster-front/src/components/StreamPoints.vue
  caster-front/src/graphql.ts
  caster-front/src/graphql/graphql.ts
  caster-front/src/main.ts
  caster-front/src/models.ts
  caster-front/src/router/index.ts
Due: frontend-lint

poc for automated dialog
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/engine.py
  caster-back/stream/frontend_types.py
  caster-back/stream/types.py
  caster-editor/src/graphql.ts
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

update hostname
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

add broadcast document
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

add random player
  caster-front/src/components/PlayerComponent.vue
  caster-front/src/components/RandomPlayer.vue
  caster-front/src/router/index.ts
Due: frontend-lint

increase num streams
  vars.deploy.dev.env
Due: none

use absolute margin
  caster-front/src/components/RandomPlayer.vue
Due: frontend-lint

address targets individually
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

Fixed Slidein
  caster-editor/src/components/ScriptCellMarkdown.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
