Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

hide date in audio file browser
  caster-editor/src/components/AudioFilePlayer.vue
Due: editor-lint

fix explicit casting
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

fix bug ignore unsaved changes #330
  caster-editor/src/components/NodeEditorHeader.vue
Due: editor-lint

refresh file browser after new upload
  caster-editor/src/components/AudioFileBrowser.vue
Due: editor-lint

use emit to trigger refresh after audio file upload
  caster-editor/src/components/AudioFileUpload.vue
Due: editor-lint

add blocking buffer playback
  caster-back/story_graph/engine.py
  caster-back/stream/models.py
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

make markdown blocking playback
  caster-back/stream/models.py
Due: none

make markdown cells blocking playback
  caster-back/story_graph/engine.py
  caster-back/stream/models.py
Due: none

hide gps and mic buttons via query params
  caster-front/src/components/PlayerButtons.vue
Due: frontend-lint

fix typo
  caster-front/src/components/PlayerButtons.vue
Due: frontend-lint

increase upload size limits
  caster-back/gencaster/settings/base.py
  nginx.deploy.conf
Due: none

Renamed to Gencaster
  caster-editor/README.md
  caster-editor/e2e/vue.spec.ts
  caster-editor/src/components/Landing.vue
  caster-editor/src/graphql.ts
Due: editor-lint

move landing wrapper
  caster-editor/src/assets/scss/_general.scss
  caster-editor/src/assets/scss/_layout.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/assets/scss/pages/all-pages.scss
  caster-editor/src/assets/scss/pages/landing.scss
  caster-editor/src/components/Landing.vue
  caster-editor/src/views/LandingView.vue
Due: editor-lint

removed graphs-overview
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/assets/scss/pages/graphs-overview.scss
  caster-editor/src/components/GraphsList.vue
  caster-editor/src/views/GraphsView.vue
Due: editor-lint

removed edit-page
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/assets/scss/pages/edit-page.scss
  caster-editor/src/components/Graph.vue
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

removed elements & menu css
  caster-editor/src/assets/scss/_interface.scss
  caster-editor/src/assets/scss/components/elements.scss
  caster-editor/src/assets/scss/components/menu.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/components/Loading.vue
  caster-editor/src/components/Menu.vue
Due: editor-lint

removed block css
  caster-editor/src/assets/scss/components/block.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/components/ScriptCellMarkdown.vue
Due: editor-lint

removed blockeditor.scss
  caster-editor/src/assets/scss/components/blockeditor.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorCells.vue
  caster-editor/src/components/NodeEditorHeader.vue
Due: editor-lint

add props for player buttons
  caster-front/src/components/DebugPlayer.vue
  caster-front/src/components/PlayerButtons.vue
Due: frontend-lint

introduce blocking script cell
  caster-back/gencaster/schema.py
  caster-back/setup.cfg
  caster-back/story_graph/admin.py
  caster-back/story_graph/engine.py
  caster-back/story_graph/migrations/0011_alter_graph_options_node_is_blocking_node.py
  caster-back/story_graph/models.py
  caster-back/story_graph/tests.py
  caster-back/stream/tests.py
Due: none

replace active with num_listeners on stream
  caster-back/gencaster/schema.py
  caster-back/stream/admin.py
  caster-back/stream/migrations/0009_remove_stream_active_stream_num_listeners.py
  caster-back/stream/models.py
  caster-back/stream/tests.py
  caster-back/stream/types.py
Due: none

rename GenCaster to Gencaster in backend
  caster-back/gencaster/schema.py
  caster-back/gencaster/settings/__init__.py
  caster-back/gencaster/urls.py
  caster-back/operations.gql
  caster-back/osc_server/server.py
  caster-back/schema.gql
  caster-back/story_graph/markdown_parser.py
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFileUpload.vue
  caster-editor/src/components/NodeEditorHeader.vue
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add Gencaster watcher for documents
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

add random route
  caster-front/src/components/Player.vue
  caster-front/src/components/RandomPlayer.vue
  caster-front/src/router/index.ts
Due: frontend-lint

introduce template switching for graph detail view
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/Default.vue
  caster-front/src/components/GraphDetailTemplates/Drifter.vue
Due: frontend-lint

Cleaned Frontend
  caster-front/src/App.vue
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/assets/mixins.scss
  caster-front/src/assets/typography.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/Default.vue
Due: frontend-lint

Styled Graphs Picker
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/Graphs.vue
Due: frontend-lint

added title card
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/assets/mixins.scss
  caster-front/src/assets/typography.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/Default.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/GraphPlayerCredits.vue
  caster-front/src/components/Player.vue
Due: frontend-lint

init player bars
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/src/assets/main.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphDetailTemplates/Default.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizer.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBar.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBars.vue
Due: frontend-lint

added functionality for bar
  caster-front/src/assets/main.scss
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBar.vue
  caster-front/src/stores/Player.ts
Due: frontend-lint

Added End Screen
  caster-front/src/assets/variables.scss
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
Due: frontend-lint

added optional content for landing
  caster-front/src/assets/main.scss
  caster-front/src/components/Content.vue
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/GraphPlayerCredits.vue
Due: frontend-lint

added rendering of content based on store data
  caster-front/src/components/Content.vue
  caster-front/src/components/EndScreen.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/stores/Player.ts
Due: frontend-lint

added easing to buttons
  caster-front/src/assets/main.scss
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

improve python cell async capabilities
  caster-back/story_graph/engine.py
  caster-back/story_graph/tests.py
Due: none

added popup buttons
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/components/DataPopups.vue
  caster-front/src/components/GpsStreaming.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/InfoPopup.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/components/PlayerVisualizer/PlayerVisualizerBars.vue
  caster-front/src/components/Popups/String.vue
  caster-front/src/stores/Player.ts
Due: frontend-lint

Added info Popup
  caster-front/src/assets/main.scss
  caster-front/src/components/AudioInfo.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/PlayerBar/PlayerBar.vue
  caster-front/src/stores/Player.ts
Due: frontend-lint

introduce vars for markdown
  caster-back/story_graph/engine.py
  caster-back/story_graph/markdown_parser.py
  caster-back/story_graph/tests.py
Due: none

improve docs
  caster-back/story_graph/markdown_parser.py
  caster-back/stream/models.py
Due: none

add wait for variable async tests
  caster-back/story_graph/engine.py
  caster-back/story_graph/tests.py
Due: none

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
