Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

ogimage as png & removing double items
  caster-editor/index.html
  caster-editor/public/ogimage.jpg
  caster-editor/public/ogimage.png
  caster-front/index.html
  caster-front/public/ogimage.jpg
  caster-front/public/ogimage.png
  caster-front/src/public/favicon-167x167.png
  caster-front/src/public/favicon-16x16.png
  caster-front/src/public/favicon-180x180.png
  caster-front/src/public/favicon-192x192.png
  caster-front/src/public/favicon-32x32.png
  caster-front/src/public/favicon-48x48.png
  caster-front/src/public/icon.png
  caster-front/src/public/ogimage.jpg
Due: editor-lint, frontend-lint

Update package-lock.json
  caster-front/package-lock.json
Due: frontend-lint

AGPL Typo Fix
  README.md
Due: none

added table styling + small things for drifter launch
  caster-editor/src/assets/scss/_mixins.scss
  caster-front/src/assets/typography.scss
  caster-front/src/assets/variables.scss
  caster-front/src/components/GraphDetailTemplates/DrifterTemplate.vue
  caster-front/src/components/GraphPlayerCredits.vue
Due: editor-lint, frontend-lint

added styling for gps checkbox
  caster-front/src/components/Dialogs/GpsDialog.vue
Due: frontend-lint

Update to typescript 5.0
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/tsconfig.app.json
  caster-editor/tsconfig.config.json
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/tsconfig.app.json
  caster-front/tsconfig.config.json
Due: editor-lint, frontend-lint

updated @vue/tsconfig which should fix the error
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/tsconfig.app.json
  caster-editor/tsconfig.config.json
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/tsconfig.app.json
  caster-front/tsconfig.config.json
Due: editor-lint, frontend-lint

updated paths of extensions
  caster-editor/tsconfig.app.json
  caster-editor/tsconfig.config.json
  caster-front/tsconfig.app.json
  caster-front/tsconfig.config.json
Due: editor-lint, frontend-lint

frontend added "moduleResolution": "node"
  caster-front/tsconfig.app.json
  caster-front/tsconfig.config.json
  caster-front/tsconfig.json
  caster-front/tsconfig.vitest.json
Due: frontend-lint

editor added "moduleResolution": "node"
  caster-editor/tsconfig.app.json
  caster-editor/tsconfig.config.json
  caster-editor/tsconfig.json
  caster-editor/tsconfig.vitest.json
Due: editor-lint

added gps fallback screen with info
  caster-front/public/no-gps-icon.svg
  caster-front/src/assets/elementplus.scss
  caster-front/src/assets/main.scss
  caster-front/src/components/GpsError.vue
  caster-front/src/router/index.ts
Due: frontend-lint

switch dependabot cycle to monthly
  .github/dependabot.yml
Due: none

add new voices and change default voice
  caster-back/stream/migrations/0010_alter_texttospeech_voice_name.py
  caster-back/stream/models.py
Due: none

respect voice in cache as well
  caster-back/stream/models.py
Due: none

change male and female voice in md
  caster-back/story_graph/markdown_parser.py
  caster-back/story_graph/tests.py
Due: none

add raw ssml block
  caster-back/story_graph/markdown_parser.py
  caster-back/story_graph/tests.py
Due: none

deploy: 083c434d7f4a2a46a6728e785c0f201d24419a6e
  _modules/story_graph/markdown_parser.html
  _modules/stream/models.html
  back/api/story_graph.html
  back/api/stream.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

add login to editor
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/App.vue
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/components/LoginDialog.vue
  caster-editor/src/graphql.ts
  caster-editor/src/stores/InterfaceStore.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

fix typing issues
  caster-back/gencaster/schema.py
Due: none

improve typing
  caster-back/gencaster/schema.py
Due: none

fixed url to kebab-case
  caster-front/src/components/Dialogs/GpsDialog.vue
  caster-front/src/router/index.ts
Due: frontend-lint

Updated gps-error text
  caster-front/src/components/GpsError.vue
Due: frontend-lint

give dependabot some more permissions
  .github/workflows/actions.yml
Due: none

adding write contents permission for docs
  .github/workflows/actions.yml
Due: none

Wrote css for dialogs
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/assets/scss/main.scss
  caster-editor/src/assets/scss/variables.module.scss
  caster-editor/src/components/DialogAddGraph.vue
  caster-editor/src/components/DialogDeleteNode.vue
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/DialogExitNode.vue
  caster-editor/src/components/DialogRenameNode.vue
  caster-editor/src/components/LoginDialog.vue
Due: editor-lint

Switched to english dialog
  caster-editor/src/App.vue
Due: editor-lint

Show RouterView only if user logged in
  caster-editor/src/App.vue
Due: editor-lint

Updated language Login Dialog
  caster-editor/src/components/LoginDialog.vue
Due: editor-lint

Setting element plus variables globally
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/assets/scss/main.scss
Due: editor-lint

deploy: a959705e23bea63f544db529ed652d197a6ad9fc
  _modules/gencaster/schema.html
  back/api/gencaster.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Fixed centering Graph again
  caster-editor/src/components/Graph.vue
  caster-front/src/assets/elementplus.scss
Due: editor-lint, frontend-lint

easy version of animating
  caster-editor/src/components/Graph.vue
Due: editor-lint

Fixed z-Index
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/ScriptCellMarkdown.vue
Due: editor-lint

fixed not being able to open after closing
  caster-editor/src/components/DialogRenameNode.vue
Due: editor-lint

added types
  caster-editor/src/components/Graph.vue
Due: editor-lint

Made event optional
  caster-editor/src/components/Graph.vue
Due: editor-lint

Recalculate order of scriptcells
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

reordering Elements and v-binding element to prevent linter complaints
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/NodeEditorCells.vue
Due: editor-lint

Set Standard Audio Playback to SyncPlayback
  caster-editor/src/components/NodeEditorHeader.vue
Due: editor-lint

shorten the for loop
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
