Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

editor-lint:
  name: Linting editor
  language: system
  entry: /bin/sh -c "cd caster-editor && npm run lint"

frontend-lint:
  name: Linting frontend
  language: system
  entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

deploy: 5972680ddef529a0b4569c637875bc8fb7e6225d
  _sources/deployment.rst
  deployment.html
  searchindex.js
Due: none

added metaHeader
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/composables/metaHead.ts
  caster-front/src/main.ts
  caster-front/tsconfig.app.json
Due: frontend-lint

forward to new graph on create
  caster-editor/src/components/DialogAddGraph.vue
Due: editor-lint

do not allow to delete entry node in backend
  caster-back/gencaster/schema.py
Due: none

Prevent delete entry node with editor
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

fixed btn coloring for addnode dialog
  caster-editor/src/components/DialogAddNode.vue
Due: editor-lint

fixed typos
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

Update tsconfig.app.json
  caster-front/tsconfig.app.json
Due: frontend-lint

Fixed typing?
  caster-editor/src/components/Menu.vue
Due: editor-lint

removed ts extension
  caster-front/src/components/GraphPlayer.vue
Due: frontend-lint

removed unused type
  caster-editor/src/components/Menu.vue
Due: editor-lint

Rename scene to node
  caster-editor/src/components/MenuTabEdit.vue
  caster-editor/src/components/NodeDoors.vue
  caster-editor/src/components/NodeEditorHeader.vue
Due: editor-lint

Add link to script cell type help
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/NodeEditorCells.vue
Due: editor-lint

extend editor docs
  docs/assets/editor.png
  docs/assets/front-popup.png
  docs/editor.rst
  docs/index.rst
  docs/services.rst
  docs/story_graph.rst
Due: none

deploy: 519d98dab44d58b2c81e2fa6d63a60509b8d08b1
  _images/editor.png
  _images/front-popup.png
  _sources/editor.rst
  _sources/index.rst
  _sources/services.rst
  _sources/story_graph.rst
  editor.html
  index.html
  objects.inv
  searchindex.js
  services.html
  story_graph.html
Due: none

refactor checkIfNodeEntry into functional style
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

fix nodes type for MenuTabEdit
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabEdit.vue
Due: editor-lint

deploy: fa0c6a43098e36635470d26a14fd01d7748e0300
  _modules/gencaster/schema.html
Due: none

force vue component tags order
  caster-editor/.eslintrc.js
  caster-editor/src/components/DialogDeleteNode.vue
  caster-editor/src/components/DialogExitGraph.vue
  caster-editor/src/components/DialogExitNode.vue
  caster-editor/src/components/DialogRenameNode.vue
  caster-editor/src/components/DialogUpdateAudioFile.vue
  caster-editor/src/components/GraphsList.vue
  caster-editor/src/components/Landing.vue
  caster-editor/src/components/Menu.vue
  caster-editor/src/components/MenuTabEdit.vue
  caster-editor/src/components/MenuTabPlay.vue
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/NodeEditorHeader.vue
  caster-editor/src/components/ScriptCellAudio.vue
  caster-editor/src/components/ScriptCellCodemirror.vue
  caster-editor/src/components/ScriptCellMarkdown.vue
  caster-editor/src/components/StreamLogs.vue
  caster-editor/src/components/Wysiwyg.vue
  caster-editor/src/views/GraphsView.vue
  caster-front/.eslintrc.js
Due: editor-lint, frontend-lint

deploy: 5bc215cb0ed0a61f1f364f327d5d2e706e10bd88
  back/api/gencaster.html
  back/api/story_graph.html
  back/api/stream.html
  back/osc_server.html
Due: none

improvements from workshop
  caster-back/gencaster/schema.py
  caster-back/requirements.txt
  caster-back/story_graph/engine.py
  docker-compose.deploy.live.yml
  vars.deploy.live.env
Due: none

fix dev deployment
  docker-compose.deploy.dev.yml
  vars.deploy.dev.env
Due: none

add public ip to allowed hosts
  caster-back/gencaster/settings/deploy_dev.py
  caster-back/gencaster/settings/deploy_live.py
  vars.deploy.dev.env
  vars.deploy.live.env
Due: none

remove unused env variable SUPERCOLLIDER_PUBLIC_IP
  vars.env
Due: none

fix dev ip
  vars.deploy.dev.env
Due: none

deploy: 539f313b67970d67a38385069944285fba1b2ac7
  _modules/gencaster/schema.html
  _modules/story_graph/engine.html
Due: none

add tutorial
  caster-back/gencaster/schema.py
  caster-back/story_graph/__init__.py
  caster-back/story_graph/models.py
  caster-back/stream/__init__.py
  docs/Makefile
  docs/_static/custom.css
  docs/back/api/index.rst
  docs/back/gencaster.rst
  docs/back/graphql.rst
  docs/back/index.rst
  docs/back/story_graph.rst
  docs/back/stream.rst
  docs/conf.py
  docs/deployment.rst
  docs/editor.rst
  docs/front.rst
  docs/glossary.rst
  docs/index.rst
  docs/quickstart.rst
  docs/services.rst
  docs/sound.rst
  docs/story_graph.rst
  docs/tutorial.rst
  docs/tutorial/01-story_graph.rst
  docs/tutorial/02-listening.rst
  docs/tutorial/03-connecting-nodes.rst
  docs/tutorial/04-live-editing.rst
  docs/tutorial/05-speaking.rst
  docs/tutorial/06-interaction.rst
  docs/tutorial/07-node_doors.rst
  docs/tutorial/08-debugging.rst
Due: none

rephrasing
  docs/tutorial/02-listening.rst
Due: none

Update README.md
  README.md
Due: none

bump sphinx to v5.0
  requirements-docs.txt
Due: none

Path conditions:
  editor-lint: any of: caster-editor
  frontend-lint: any of: caster-front
