Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=1024']
    -   id: check-json
        exclude: caster-editor/tsconfig.json
    -   id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.5.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
-   repo: local
    hooks:
      - id: editor-lint
        name: "Linting editor"
        files: caster-editor
        language: system
        entry: /bin/sh -c "cd caster-editor && npm run lint"
      - id: frontend-lint
        name: "Linting frontend"
        files: caster-front
        language: system
        entry: /bin/sh -c "cd caster-front && npm run lint:ci -- --fix"

change port forwarding for editor
  docker-compose.editor.yml
Due: none

add django docs to gql types
  caster-back/gencaster/settings/base.py
  caster-back/schema.gql
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

remove buffer from server after playback
  caster-back/stream/models.py
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

fix default server variable
  caster-sound/GenCaster/classes/GenCaster.sc
Due: none

add isAuthenticated check
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/App.vue
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

add dependabot
  .github/dependabot.yml
Due: none

use main branch for dependabot
  .github/dependabot.yml
Due: none

omit test results with dependabot due to missing rights
  .github/workflows/actions.yml
Due: none

add concurrency on dev deployment
  .github/workflows/actions.yml
Due: none

change workflow procedure
  .github/workflows/actions.yml
Due: none

Added audio first slot
  caster-editor/src/assets/scss/components/blockeditor.scss
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/components/ScriptCellAudio.vue
  caster-editor/src/components/ScriptCellCodemirror.vue
  caster-editor/src/components/ScriptCellMarkdown.vue
Due: editor-lint

specify bitrate
  caster-sound/janus.plugin.audiobridge.jcfg.template
Due: none

patch janus js lib to not use noise supression
  caster-front/index.html
  caster-front/public/janus.js
  caster-front/src/components/Player.vue
Due: frontend-lint

reduce number of streams in dev
  vars.deploy.dev.env
Due: none

added playback and volume slider
  caster-editor/src/assets/scss/_elementplus.scss
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

Comment implementation + Cleaning
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

Added volume controll
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/AudioFilePlayer.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

Fixed error with audio cell
  caster-editor/src/components/AudioFileBrowser.vue
  caster-editor/src/components/NodeEditorCell.vue
  caster-editor/src/components/ScriptCellAudio.vue
Due: editor-lint

Implemented slider
  caster-editor/src/components/AudioFilePlayer.vue
Due: editor-lint

Update NodeEditorCell.vue
  caster-editor/src/components/NodeEditorCell.vue
Due: editor-lint

remove strawberry_plus because of failing tests
  caster-back/gencaster/settings/base.py
Due: none

remove strawberry response patch
  caster-back/gencaster/urls.py
Due: none

reintroduce strawberry-django-plus with bump
  caster-back/gencaster/settings/base.py
  caster-back/requirements.txt
Due: none

bump python docker version
  caster-back/Dockerfile
Due: none

fix default exchanges
  caster-front/src/main.ts
Due: frontend-lint

fix tsc issues by downgrading @urql/vue to 1.0.4
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/src/main.ts
Due: frontend-lint

upgrade node version in ci
  .github/workflows/actions.yml
Due: none

upgrade node docker containers to v19
  caster-editor/Dockerfile
  caster-editor/Dockerfile.deploy
  caster-front/Dockerfile
  caster-front/Dockerfile.deploy
Due: editor-lint, frontend-lint

use node 18 in ci
  .github/workflows/actions.yml
Due: none

add receiver callback to gql subscription
  caster-back/gencaster/distributor.py
Due: none

close stream if subscription is stopped
  caster-back/gencaster/schema.py
Due: none

add find graph by names
  caster-back/gencaster/schema.py
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/story_graph/types.py
Due: none

sort graphs by name
  caster-back/story_graph/models.py
Due: none

add sass to frontend
  caster-front/package-lock.json
  caster-front/package.json
Due: frontend-lint

change main css
  caster-front/src/assets/base.css
  caster-front/src/assets/main.css
  caster-front/src/assets/main.scss
  caster-front/src/main.ts
Due: frontend-lint

refactor frontend
  caster-editor/src/graphql.ts
  caster-front/src/App.vue
  caster-front/src/components/DebugPlayer.vue
  caster-front/src/components/GpsStreaming.vue
  caster-front/src/components/GraphDetail.vue
  caster-front/src/components/GraphPlayer.vue
  caster-front/src/components/Graphs.vue
  caster-front/src/components/Player.vue
  caster-front/src/components/PlayerButtons.vue
  caster-front/src/components/PlayerControls.vue
  caster-front/src/components/StreamInfo.vue
  caster-front/src/components/StreamPointInfo.vue
  caster-front/src/components/StreamPoints.vue
  caster-front/src/graphql.ts
  caster-front/src/router/index.ts
  caster-front/src/stores/Graphs.ts
  caster-front/src/stores/Player.ts
  caster-front/src/stores/StreamPoints.ts
  caster-front/src/views/AdminView.vue
  caster-front/src/views/GraphPlayerView.vue
  caster-front/src/views/HomeView.vue
Due: editor-lint, frontend-lint

reset player state if we leave player
  caster-front/src/components/Player.vue
Due: frontend-lint

return StreamPoint object instead of uuid
  caster-front/src/components/DebugPlayer.vue
  caster-front/src/components/StreamInfo.vue
  caster-front/src/components/StreamPoints.vue
Due: frontend-lint

check if script cell mutation was successful
  caster-editor/src/views/GraphDetailView.vue
Due: editor-lint

add createdDate and pagination to AudioFile
  caster-back/operations.gql
  caster-back/schema.gql
  caster-back/stream/types.py
  caster-editor/src/graphql.ts
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint
