Repository Gencaster/gencaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: editor-lint, frontend-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=1024']
    -   id: check-json
        exclude: caster-editor/tsconfig.json
    -   id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/autoflake
    rev: v1.5.3
    hooks:
    -   id: autoflake
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
-   repo: local
    hooks:
      - id: editor-lint
        name: "Linting editor"
        files: caster-editor
        language: system
        entry: /bin/sh -c "cd caster-editor && yarn lint:ci"
      - id: frontend-lint
        name: "Linting frontend"
        files: caster-front
        language: system
        entry: /bin/sh -c "cd caster-front && yarn lint:ci"

bump pre-commit in ci
  .github/workflows/actions.yml
Due: none

remove cypress
  caster-front/cypress.config.ts
  caster-front/cypress/e2e/example.cy.ts
  caster-front/cypress/e2e/tsconfig.json
  caster-front/cypress/fixtures/example.json
  caster-front/cypress/support/commands.ts
  caster-front/cypress/support/e2e.ts
  caster-front/package-lock.json
  caster-front/package.json
  caster-front/tsconfig.config.json
Due: frontend-lint

Clean README
  caster-front/README.md
Due: frontend-lint

fix title
  caster-front/index.html
Due: frontend-lint

fix package name
  caster-front/package-lock.json
  caster-front/package.json
Due: frontend-lint

remove assets
  caster-front/src/assets/icons/icon-down.svg
  caster-front/src/assets/icons/icon-play.svg
  caster-front/src/assets/icons/icon-trash.jpg
  caster-front/src/assets/icons/icon-trash.svg
  caster-front/src/assets/icons/icon-up.svg
  caster-front/src/assets/logo.svg
Due: frontend-lint

remove logging of method
  caster-editor/src/stores/GraphsStore.ts
Due: editor-lint

add cypress tests
  caster-editor/cypress.config.ts
  caster-editor/cypress/e2e/graph.cy.ts
  caster-editor/cypress/e2e/graphs.cy.ts
  caster-editor/cypress/e2e/landing.cy.ts
  caster-editor/cypress/fixtures/graph.json
  caster-editor/cypress/fixtures/graphs.json
  caster-editor/cypress/support/commands.ts
  caster-editor/cypress/support/e2e.ts
  caster-editor/cypress/tsconfig.json
  caster-editor/cypress/utils.ts
  caster-editor/package-lock.json
  caster-editor/package.json
  caster-editor/src/components/Landing.vue
Due: editor-lint

run cypress tests in ci
  .github/workflows/actions.yml
Due: none

specify versions
  .github/workflows/actions.yml
Due: none

add python for pre-commit
  .github/workflows/actions.yml
Due: none

run tests in chrome
  .github/workflows/actions.yml
Due: none

remove unused logo
  caster-editor/src/assets/logo.svg
Due: editor-lint

removed base.css, fixed css variables, fixed elementplus import
  caster-editor/src/assets/base.css
  caster-editor/src/assets/main.css
  caster-editor/src/assets/scss/variables.module.scss
  caster-editor/src/components/Landing.vue
  caster-editor/src/components/Menu.vue
  caster-editor/src/main.ts
Due: editor-lint

fixed node editor sizing
  caster-editor/public/favicon.ico
  caster-editor/src/assets/js/graphSettings.ts
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
Due: editor-lint

hiding node and graph data
  caster-editor/src/components/Graph.vue
  caster-editor/src/components/NodeEditor.vue
  caster-editor/src/stores/GraphStore.ts
  caster-editor/src/stores/NodeStore.ts
Due: editor-lint

fixed centering node
  caster-editor/src/components/Graph.vue
Due: editor-lint

fixed delete node menu error
  caster-editor/src/components/Menu.vue
Due: editor-lint

removed wrong input
  caster-editor/src/components/Landing.vue
Due: editor-lint

add is_entry_node flag to node
  caster-back/story_graph/migrations/0006_node_is_entry_node_node_unique_entry_point.py
  caster-back/story_graph/models.py
Due: none

add create entry node method
  caster-back/story_graph/engine.py
  caster-back/story_graph/models.py
Due: none

display is_entry_node in admin
  caster-back/story_graph/admin.py
Due: none

add is_entry_node to node type
  caster-back/story_graph/types.py
Due: none

create AddGraphInput
  caster-back/story_graph/types.py
Due: none

add AddGraph mutation
  caster-back/gencaster/schema.py
Due: none

add tests for entry node
  caster-back/story_graph/tests.py
Due: none

fix make editor graphql schema
  Makefile
Due: none

fix codegen config
  caster-editor/codegen.yml
Due: editor-lint

add CreateGraph to gql schema
  caster-back/operations.gql
  caster-back/schema.gql
  caster-editor/src/graphql.ts
Due: editor-lint

add create graph dialog
  caster-editor/src/components/GraphsOverview.vue
  caster-editor/src/stores/GraphsStore.ts
Due: editor-lint

add open cypress
  caster-editor/package.json
Due: editor-lint

add graph creation frontend tests
  caster-editor/cypress/e2e/graphs.cy.ts
  caster-editor/cypress/fixtures/createGraph.json
  caster-editor/cypress/fixtures/createGraphSameError.json
Due: editor-lint

adjust static dev deployment of editor
  caster-editor/Dockerfile.deploy
  docker-compose.deploy.dev.yml
Due: editor-lint

update graphql schema
  caster-editor/src/graphql.ts
  caster-front/src/graphql/graphql.ts
Due: editor-lint, frontend-lint

change node fallback procedure
  caster-back/story_graph/engine.py
Due: none

Fix pre-commit CI #240
  .github/workflows/actions.yml
Due: none

move to codegen from yaml to ts
  .pre-commit-config.yaml
  caster-editor/codegen.ts
  caster-editor/codegen.yml
  caster-editor/cypress.config.ts
  caster-editor/package.json
  caster-editor/src/graphql.ts
  caster-front/codegen.ts
  caster-front/codegen.yml
  caster-front/package.json
  caster-front/src/graphql.ts
Due: editor-lint, frontend-lint

remove __typename hack
  caster-editor/src/stores/NodeStore.ts
Due: editor-lint

add unified test target
  Makefile
Due: none
